*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: url("./binary.jpg");
  background-size: cover;
}

.copy-container h1 {
  font-size: 70px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 6px;
  text-shadow: 2px 1px 1px black;
  opacity: 0.8;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(120px, auto) repeat(5, 75px);
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background-color: gray;
}

button:hover {
  background-color: darkgray;
}

/*.calculator-grid>button:hover {
  background-color: orangered;
}
*/

.operator,
.span-two,
.percentage {
  background-color: orange;
}

.operator:hover,
.span-two:hover,
.percentage:hover {
  background-color: darkorange;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}